################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/v4l_val_infra/v16/ipch/AutoPCH/df0433709b29387d/PG.ipch
/.vs/v4l_val_infra/v16/Browse.VC.opendb
/.vs/v4l_val_infra/v16/Browse.VC.db-wal
/.vs/v4l_val_infra/v16/Browse.VC.db-shm
/.vs/v4l_val_infra/v16/Browse.VC.db
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
main
